body {
	padding: 0;
	margin: 0;
	background-color: #e9ebee;
}
.main {
	margin: auto;
	width: 1024px;
	height: 100vh;
	background-color: white;
}
.logo {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: #cccfea;
	line-height: 90px;
	margin-bottom: 30px;
}
.logo_image {
	position: absolute;
	top: 0;
	left: 10px;
	height: 100px;
	width: 100px;
	background-image: url(logo_image.png);
	background-size: cover;
	margin-bottom: 30px;
	border-bottom-left-radius: 10px;
}
.logo_text {
	font-size: 56px;
	vertical-align: middle;
	margin: 0px;
	margin-left: 110px;
	color: #00094b;
	font-family: Arial;
	display: inline;
}
.settings {
	position: absolute;
	border-radius: 50%;
	bottom: 28px;
	right: 17px;
	width: 45px;
	height: 45px;
	background-image: url(shesternia.jpg);
	background-size: cover;
	transition: 0.5s;
	z-index: 20;
}
.settings:hover {
	transform: rotate(180deg);
}
.settings_block {
	display: none;
	position: absolute;
	top: 85px;
	right: 0px;
	width: 400px;
	height: 130px;
	background-color: #e5e7f4;
	border-radius: 10px;
	box-shadow: -3px 3px 5px rgba(0,0,0,0.5);
	z-index: 10;
}
.settings_block::after {
	content: '';
	top: -20px;
	right: 30px;
	position: absolute;
	background-color: #cccfea;
	border: 10px solid transparent;
	border-bottom: 10px solid #e5e7f4;
}
.form_block {
	padding: 0;
}
.meteo_id {
	display: inline-block;
	margin-left: 20px;
	border-radius: 10px;
	font-family: Arial;
	color: #00094b;
}
.form_text {
	margin-left: 20px;
	font-size: 18px;
	font-family: Arial;
	color: #00094b;
}
.form_text_block_1 {
	height: 40px;
}
.form_text_block_2 {
	height: 40px;
	display: inline-block;
}
.submit_block {
	display: inline-block;
	height: 40px;
	margin-left: 40px;
	border-radius: 12px;
}
input[type="submit"]{
    display:block;
    margin-top:1em;
    padding:5px 15px;  
    font-weight:bold;
    color:#00094b;
    background:white;
    border-radius: 12px;
	border: none;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow:0 1px 1px white;
}
input[type="submit"]:active{
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6);
	outline: none;
	font-size: 13px;
	padding: 6px 16px;
}
input[type="submit"]:focus{
	outline: none;
}
input[type="text"]{
    border:1px solid #ccc;
    padding:4px 5px;
    background:white;
    border-radius: 10px;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-sizing:border-box;
}
input[type="text"]:focus {
	box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
    outline:none;
}
.date {
	font-size: 36px;
	margin: 0;
	margin-top: 6px;
	margin-right: 70px;
	color: #00094b;
	font-family: Arial;
	display: inline;
	float: right;
	vertical-align: niddle;
}
.indicators {
	margin-left: 60px;
	z-index: 0;
}
.indicator {
	width: 200px;
	height: 58px;
	position: relative;
	line-height: 60px;
	z-index: 5;
	border-bottom: 2px solid #cccfea;
}

.indicator:hover {
	background-color: #e5e7f4;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	border-bottom: 2px solid #e5e7f4;
}
.indicator:hover .graphics {
	display: block;
}
.indicator:hover .temperature {
	background-image: url(temperature_hover.png);
}
.indicator:hover .humidity {
	background-image: url(humidity_hover.png);
}
.indicator:hover .co2 {
	background-image: url(co2_hover.png);
}
.indicator:hover .atm_pressure {
	background-image: url(atm_p_hover.png);
}
.indicator > span {
	margin: 0;
	margin-left: 65px;
	font-size: 26px;
	font-family: Arial;
	color: #00094b;
}
.ind_img {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 5px;
	left: 5px;
	background-size: cover;
}
.temperature {
	background-image: url(temperature.png);
}
.humidity {
	background-image: url(humidity.png);
}
.co2 {
	background-image: url(co2.png);
}
.atm_pressure {
	background-image: url(atm_p.png);
}
.graphics {
	width: 700px;
	height: 280px;
	background-color: #e5e7f4;
	border-radius: 10px;
	position: absolute;
	top: -20px;
	left: 200px;
	display: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.g1::after {
	content: '';
	position: absolute;
	top: 20px;
	left: -10px;
	background-color: #e5e7f4;
	z-index: 50;
	width: 20px;
	height: 60px;
}
.g2 {
	top: -80px;
}
.g2::after {
	content: '';
	position: absolute;
	top: 80px;
	left: -10px;
	background-color: #e5e7f4;
	z-index: 50;
	width: 20px;
	height: 60px;
}
.g3 {
	top: -140px;
}
.g3::after {
	content: '';
	position: absolute;
	top: 140px;
	left: -10px;
	background-color: #e5e7f4;
	z-index: 50;
	width: 20px;
	height: 60px;
}
.g4 {
	top: -200px;
}
.g4::after {
	content: '';
	position: absolute;
	top: 200px;
	left: -10px;
	background-color: #e5e7f4;
	z-index: 50;
	width: 20px;
	height: 60px;
}
footer {
	width: 1024px;
	margin: auto;
	height: 50px;
	background-color: #cccfea;
	vertical-align: middle;
}
footer > span {
	margin: 0px;
	font-size: 40px;
	font-family: Arial;
	color: #00094b;
}
footer > span:nth-child(1) {
	margin-left: 20px;
}
footer > span:nth-child(2) {
	float: right;
	margin-right: 20px;
}